
<%- include ../layouts/header.ejs %> 
    <br>
    <br>
<a href="/users/newuser" class="btn btn-primary" type="button">Crear Usuario</a>
<br>
<br>
    <table class="table table-light">
        <thead class="thead-light">
            <tr>

                <th>#</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% for( let usuario = 0; usuario < usuarios.length; usuario++ ) { %>
                <tr>
                   
                    <td> <%=usuarios[usuario].id_user %> </td>
            
                    <td> <%=usuarios[usuario].name %> </td>
                    <td> <%=usuarios[usuario].email %> </td>

                    <td> 
                        <img class="img-thumbnail" width="100" src="images/<%=usuarios[usuario].image %>" alt="">
                        
                         </td>

                    <td> 
                        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                            <form class="form-inline" method="get" action="/users/edit/<%=usuarios[usuario].id_user %>">
                                <button class="btn btn-warning" type="submit">Editar</button>
                            </form>
                        </div>
                        |
                        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                            <form class="form-inline" method="post" action="/users/delete/<%=usuarios[usuario].id_user %>">
                                <button class="btn btn-danger" type="submit">Eliminar</button>
                            </form>
                        </div>
                     </td>
                </tr>
            <% } %>
           
        </tbody>
    </table>
    <%- include ../layouts/footer.ejs %> 